@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

@media (min-width: 992px) { /* bootstrap lg and larger */
    .dropdown-menu[data-bs-popper], .dropstart .dropdown-menu[data-bs-popper] {
        margin: 0;
    }

    .dropdown:hover>.dropdown-menu, .dropstart:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-toggle, .dropdown>.dropdown-toggle, .dropstart>.dropdown-toggle {
        /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }

    .dropdown-toggle, .dropdown>.dropdown-toggle, .dropstart>.dropdown-toggle {
        /*Without this, clicking will make it sticky*/
        pointer-events: none;
    }

    .dropdown-toggle>a, .dropdown>.dropdown-toggle>a, .dropstart>.dropdown-toggle>a {
        /*Without this, clicking will make it sticky*/
        pointer-events: auto;
    }

    .dropstart>.nav-link {
        color: black !important;
    }
}

.breadcrumb {
    padding: var(--bs-breadcrumb-padding-y) 0 !important;
}

.dbc input:not([type=radio]):not([type=checkbox]):disabled{
    background-color: #eee !important;
    border-color: #ccc;
    color: #ccc !important;
}

.dbc input:not([type=radio]):not([type=checkbox]):disabled::placeholder {
    background-color: #eee !important;
    color: #eee !important /* same as background-color to hide text */
}

.modal-header {
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}

.emoji {
    font-family: 'Noto Color Emoji', sans-serif;
}

.tat-slider{
    margin-top: -16px !important;
    margin-bottom: 10px !important;
}

.tat-slider .rc-slider-rail, .tat-slider .rc-slider-track {
    height: 14px !important;
    top: 0 !important;
    border-radius: 0 !important;
}

.tat-slider .rc-slider-dot {
    height: 14px !important;
    width: 14px !important;
    top: -5px !important;
    margin-left: 0 !important;
    transform: translateX(-50%);
}

.tat-slider-good .rc-slider-track {
    background-color: #0b7 !important;
}

.tat-slider-bad .rc-slider-track {
    background-color: #c33 !important;
}

.tat-slider .rc-slider-dot, .tat-slider .rc-slider-handle, .tat-slider .rc-slider-mark-text {
    cursor: default !important;
}
